@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Система управления завками</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в систему управления завками</h2>
        <p>Здесь вы сможете оставить свою заявку</p>
        <a class="nav-link" asp-page="/ApplicationPages/Index">Список заявок</a>
    </div>
</div>
